# Binary executable
bompare
bompare.exe

# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/
coverage/
test/.test_coverage.dart

# Directory created by dartdoc
doc/api/

# Intellij IDE
.idea/
*.iml
